html {
  font-family: Oswald, sans-serif;
}

/*********** NAVIGATION  ***********/

.main-nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: #4e4d4a;
  align-items: center;
  height: 90px;
}

.main-nav a {
  display: block;
  text-decoration: none;
}

.logo-nav {
  display: flex;
  width: 250px;
  justify-content: space-around;
  font-size: 1.5em;
}

.logo-nav i,
a {
  height: 30px;
  color: #d26c22;
}

.sub-nav {
  display: grid;
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  grid-template-columns: repeat(8, 1fr);
}

.sub-nav a {
  padding: 1.5px;
  font-size: 1em;
  color: white;
}

.sub-nav a:hover {
  background: #d26c22;
}

/*********** MAIN  ***********/

.main {
  position: relative;
  height: 40vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../src/assets/los-angeles.jpg");

  /* For text formatting */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.main-font {
  font-size: 2.1rem;
  text-align: center;
  font-weight: bold;
}

.main-subfont {
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
}

/*********** TITLE  ***********/

.title {
  text-align: center;
  color: #d26c22;
  font-size: 30px;
  margin-bottom: 15px;
}

/*********** FORM  ***********/

.form {
  text-align: center;
  margin: 40px;
}
