/* CSS Variables */
/* :root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
} */

html {
  /* box-sizing: border-box; */
  font-family: Oswald, sans-serif;
  /* color: var(--dark); */
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/*********** NAVIGATION  ***********/

.main-nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: #4e4d4a;
  align-items: center;
  height: 90px;
}

.main-nav a {
  display: block;
  text-decoration: none;
}

.logo-nav {
  display: flex;
  width: 250px;
  justify-content: space-around;
  font-size: 1.5em;
}

.logo-nav i,
a {
  height: 30px;
  color: #d26c22;
}

.sub-nav {
  display: grid;
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  grid-template-columns: repeat(8, 1fr);
}

.sub-nav a {
  padding: 1.5px;
  font-size: 1em;
  color: white;
}

.sub-nav a:hover {
  background: #d26c22;
}

/*********** TITLE  ***********/

.title {
  text-align: center;
  color: #d26c22;
  font-size: 30px;
  font-family: Oswald, sans-serif;
  margin-bottom: 15px;
}

/*********** FORM  ***********/

.form {
  text-align: center;
}
